<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Espace Administrateur</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="dashboard">
    <div class="navbar">
        <div class="brand">Espace Admin</div>
        <div class="nav-links">
            <a th:href="@{/}">Accueil</a>
            <a th:href="@{/user/dashboard}">User</a>
            <a th:href="@{/admin/dashboard}">Admin</a>
            <form th:action="@{/logout}" method="post" class="logout-form">
                <button type="submit" class="logout-btn">Déconnexion</button>
            </form>
        </div>
    </div>

    <div class="hero">
        <h1>Dashboard ADMIN</h1>
        <p>
            Cette page est strictement réservée au rôle ADMIN.
            Elle permet de simuler un espace d’administration sécurisé.
        </p>
    </div>

    <div class="cards">
        <div class="info-card">
            <h3>Administration</h3>
            <p>Seuls les comptes administrateurs peuvent accéder à cette interface.</p>
        </div>

        <div class="info-card">
            <h3>Protection</h3>
            <p>Les routes sensibles sont protégées par Spring Security avec contrôle des rôles.</p>
        </div>
    </div>
</div>
</body>
</html>